/* contacto.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #555;
}

/* Encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}

/*para que sea responsivo*/
@media (max-width:700px){
    header{
      flex-direction: column;
    }
    nav{
      padding: 10px 0px;
    }
  }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu{
    float: right;
    line-height: 75px;
}

/*fin header*/

/*------------------------------------------------------------*/

/*ini contacto.html*/

.container_contacto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif, cursive;
    background-color:#fff;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(89, 89, 219);
    font-weight: 700;
}
.container-form a i{
    color: black;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background:black;
    color:#fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: grey;
}

.info-form h2, p{
    color: black;
}

/*------------------------------------------------------------*/
/*ini footer*/

/*ini pie pagina*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 50px;
}
.log{
  display: flex;
  align-items: center;
  gap: 10px;
}
body{
  font-family: 'Exo 2', sans-serif;
}
footer{

  bottom:0;
  width: 100%;
}
.pie{
  background: #1d0b41;
}
span{
  font-size: 23px;
}
.fb{
  background: rgb(0, 81, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tw{
  background: rgb(0, 140, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.in{
  background: rgb(225, 0, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.li{
  background: rgb(0, 162, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.yt{
  background: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logotipo{
  font-size: 18px;
  color: white;
}
.section{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.section div{
  display: flex;
  flex-direction: column;
}
div h2{
  color: white;
  padding: 10px 0px;
}
 a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input{
  background: none;
  border: solid 2px white;
  padding: 10px 20px;
  color: #fff;
}
button{
  padding: 10px 20px;
  background: white;
  color: blueviolet;
  font-size: 18px;
}
.derechos{
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #262626;
  color: white;
}