/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #555;
}

/* Encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}

/*para que sea responsivo*/
@media (max-width:700px){
    header{
      flex-direction: column;
    }
    nav{
      padding: 10px 0px;
    }
  }

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
}

.forgot-password-container h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-to-login {
    margin-top: 20px;
    text-align: center;
}

.back-to-login a {
    color: #333;
    text-decoration: none;
}

/*ini footer*/

/*ini pie pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    width: 50px;
  }
  .log{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body{
    font-family: 'Exo 2', sans-serif;
  }
  footer{
    position:fixed;
    bottom:0;
    width: 100%;
  }
  .pie{
    background: #1d0b41;
  }
  span{
    font-size: 23px;
  }
  .fb{
    background: rgb(0, 81, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .tw{
    background: rgb(0, 140, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .in{
    background: rgb(225, 0, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .li{
    background: rgb(0, 162, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .yt{
    background: rgb(255, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .logotipo{
    font-size: 18px;
    color: white;
  }
  .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  .section div{
    display: flex;
    flex-direction: column;
  }
  div h2{
    color: white;
    padding: 10px 0px;
  }
   a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;
    color: #fff;
  }
  button{
    padding: 10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
  }
  .derechos{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #262626;
    color: white;
  }