/* login.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #fff;
}

/* Encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}

/*para que sea responsivo*/
@media (max-width:700px){
    header{
      flex-direction: column;
    }
    nav{
      padding: 10px 0px;
    }
  }

/* Diseño formulario login*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #fff;
}

.container{
  display: flex;
  height: 700px;
  width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-top: 150px;
}

.info{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(../images/saxofon_5.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 150px 50px;
  width: 50%;
}

.txt-1{
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 25px;
}

.info h2{
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 25px;
}

.info hr{
  width: 55px;
  border: 4px solid #fff;
  margin-left: 170px;
  margin-bottom: 25px;
}

.txt-2{
  color: #fff;
  font-size: 18px;
}

.form {
  padding: 150px 90px;
  width: 50%;
  text-align: center;
  background-color: #e5ecf9;
}

.form h2{
  color: #333;
  font-size: 30px;
  margin-bottom: 25px;
}

.form p{
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.inputs{
  display: flex;
  flex-direction: column;
}

.box{
  outline: none;
  border-color: #0973f6;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.inputs a{
  color: #0973f6;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 35px
}

.submit{
  background-color: #0973f6;
  padding: 15px;
  border: 0;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
}

.boton{
  background-color: #0973f6;
  color: #fff;
  padding: 15px;
  border: 0;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 25px;
}

@media(max-width:990px) {
  .container{
    width: 350px;
    height: 600px;
    margin-top: 100px;
  }
  .info{
    display: none;
  }
  .form{
    width: 100%;
    padding: 30px;
  }
  .form h2{
    margin-top: 40px;
  }
}

/*fin diseño formulario login*/

/*ini footer*/

/*ini pie pagina*/

img{
  width: 50px;
}
.log{
  display: flex;
  align-items: center;
  gap: 10px;
}
body{
  font-family: 'Exo 2', sans-serif;
}
footer{
  bottom:0;
  width: 100%;
}
.pie{
  background: #1d0b41;
}
span{
  font-size: 23px;
}
.fb{
  background: rgb(0, 81, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tw{
  background: rgb(0, 140, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.in{
  background: rgb(225, 0, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.li{
  background: rgb(0, 162, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.yt{
  background: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logotipo{
  font-size: 18px;
  color: white;
}
.section{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.section div{
  display: flex;
  flex-direction: column;
}
div h2{
  color: white;
  padding: 10px 0px;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inpat{
  background: none;
  border: solid 2px white;
  padding: 10px 20px;
  color: #fff;
}
button{
  padding: 10px 20px;
  background: white;
  color: blueviolet;
  font-size: 18px;
}
.derechos{
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #262626;
  color: white;
}
