/* login.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /*color del texto*/
  a{
    text-decoration: none;
    color: #fff;
  }
  
  /* Encabezado */
  header {
    display: flex;
    min-height: 70px;
    background-color: #1d0b41;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  
  .logo-imag{
    width: 90px;
    margin-right: 10px;
  }
  
  /*color y bordado delas descripcion del header*/
  nav a{
    font-weight: 600;
    padding-right: 10px;
  }
  
  nav a:hover{
    color: #ccc;
  }
  
  /*para que sea responsivo*/
  @media (max-width:700px){
      header{
        flex-direction: column;
      }
      nav{
        padding: 10px 0px;
      }
    }
  

/*fin header*/

/*------------------------------------------------------------*/


/*::::: Inicio Nosotros ::::::*/


.nos{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.izquierda{
    background: #dbdbdb;
    height: 100vh;
    width: 50%;
    text-align: center;
}

.derecha{
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#pantalla-dividida{
    display: flex;
}

#nos{
    font-size: 60px;
    width: 50%;
    margin-bottom: 40px;
}

#nosotros{
    font-size: 23px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 45px;
}

#nosbtn{
    border: 3px solid #333;
    padding: 20px;
    text-decoration: none;
    color: #333;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
}

.link{
    text-align: center;
}

.img{
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat:no-repeat;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../images/fondo.png);
    background-size: flex;
    background-size: cover;
    height: 100vh;
    width: 50%;
    text-align: center;
    }

/*::::: Fin Nosotros :::::*/

/*::::: ini suscripción ::::::*/

.franja-sub{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-sub{
    width: 100%;
    background: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black;
}
.content-sub h2{
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}
.content-sub p{
    color: #333;
    font-size: 17px;
    margin-bottom: 25px;
    max-width: 500px;
    text-align: center;
}
.content-sub form{
    width: 100%;
    max-width: 440px;
    display: flex;
}
.content-sub form .campo{
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 8px;
    outline: 0px;
}
.content-sub form .btn-sub{
    padding: 15px 25px;
    border: none;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    background: aqua;
    color: #333;
    cursor: pointer;
    outline: 0px;
}
.content-sub form .btn-sub:hover{
    background: rgb(233, 213, 213);
}   
/*fin suscripción*/

/*------------------------------------------------------------*/

/*fin diseño formulario login*/

/*ini footer*/

/*ini pie pagina*/

img{
    width: 50px;
  }
  .log{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body{
    font-family: 'Exo 2', sans-serif;
  }
  footer{
    bottom:0;
    width: 100%;
  }
  .pie{
    background: #1d0b41;
  }
  span{
    font-size: 23px;
  }
  .fb{
    background: rgb(0, 81, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .tw{
    background: rgb(0, 140, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .in{
    background: rgb(225, 0, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .li{
    background: rgb(0, 162, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .yt{
    background: rgb(255, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .logotipo{
    font-size: 18px;
    color: white;
  }
  .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  .section div{
    display: flex;
    flex-direction: column;
  }
  div h2{
    color: white;
    padding: 10px 0px;
  }
  a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .inpat{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;
    color: #fff;
  }
  button{
    padding: 10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
  }
  .derechos{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #262626;
    color: white;
  }
  