/* index.css */

/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #fff;
}

/* Encabezado */
.header-1{
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*.Fractal-Header__searchbar--wrapper{
    display: flex;
    justify-content: left;
}

.Fractal-Header--searchbar{
    min-height: 46px;
    padding: 8px;
    width: 100;
}

.Fractal-SearchBar__searchbar--wrapper, .Fractal-SearchBar__searchbar--wrapper.Fractal-SearchBar--mobile {
    align-items: center;
    background-color: white;
    border: 2px solid #1d0b41;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr min-content min-content min-content;
    min-height: 46px;
    overflow: hidden;
}

.Fractal-SearchBar--searchbar, .Fractal-SearchBar--searchbar.Fractal-SearchBar--mobile{
    background: none;
    border: none;
    color: #404040;
    line-height: 25px;
    margin-left: 16px;
    outline: 0;
    padding-left: 0;
    transition: color .15s ease-in-out;
}

.Fractal-SearchBar--searchbar{
    font-size: 16px;
}

.Fractal-SearchBar--headerDivider{
    border-left: 2px solid white;
    display: grid;
    justify-self: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

[data-device=desktop] .Fractal-SearchBar--button{
    background: white;
}

.Common-module--header--46T8F button{
    margin: 0;
}

.Fractal-SearchBar--button{
    background: white;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    min-height: 46px;
    min-width: 46px;
    outline: inherit;
    padding: 0;
}

.Fractal-Header--searchbar{
    border-left: 2px solid grey;
    display: grid;
    justify-self: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.Fractal-Header--header{
    align-items: center;
    background-color: #1d0b41;
    display: grid;
    font-family: Poppins;
    gap: 0 16px;
    justify-content: center;
    letter-spacing: 0;
    padding: 0;
    z-index: 5;
}*/

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

.header-2 {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)),linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/panel_instrumentos.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)),linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/panel_instrumentos.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer 

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer 

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }*/
}
/*fin diseño formulario login*/

/*ini footer*/

/*ini pie pagina*/

img{
  width: 50px;
}
.log{
  display: flex;
  align-items: center;
  gap: 10px;
}
body{
  font-family: 'Exo 2', sans-serif;
}
footer{
  bottom:0;
  width: 100%;
}
.pie{
  background: #1d0b41;
}
span{
  font-size: 23px;
}
.fb{
  background: rgb(0, 81, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tw{
  background: rgb(0, 140, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.in{
  background: rgb(225, 0, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.li{
  background: rgb(0, 162, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.yt{
  background: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logotipo{
  font-size: 18px;
  color: white;
}
.section{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.section div{
  display: flex;
  flex-direction: column;
}
div h2{
  color: white;
  padding: 10px 0px;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inpat{
  background: none;
  border: solid 2px white;
  padding: 10px 20px;
  color: #fff;
}
button{
  padding: 10px 20px;
  background: white;
  color: blueviolet;
  font-size: 18px;
}
.derechos{
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #262626;
  color: white;
}
